body {
    font-family: sans-serif;
    margin: 30px;
}

.input-block {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#status {
    margin-top: 20px;
    font-weight: bold;
}
    